.button {
    width: 200px;
    height: 50px;
    margin: 20px;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    &:hover {
        background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
        box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
    }

    &.apply {
        background-color: blue;
    }

    &.dismiss {
        background-color: coral;
    }

    &.confirm {
        background-color: crimson;
    }

    &.discard {
        background-color: darkgreen;
    }
}
