.modal {
 height:  100vh;
 width: 100vw;
 background-color: rgba(0,0,0,0.4);
 position: fixed;
 top: 0;
 left: 0;
 display: flex;
 align-items: center;
 justify-content: center;
}

.modal-content {
    border-radius:  12px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-basis: 25vw;


    &__header {
        position: relative;
        background-color: rgba(255, 255, 255, 0.4);
        text-align: center;
        color: white;
        font-size: 30px;
        width: 100%;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        padding: 12px 0 12px 0;        
    }

    &__text {
        color: white;
        text-align: center;
        padding: 30px;
    }
    
    &__close-btn-cross {
        position: relative;
        left: 10px;
        top: 8px;
        width: 32px;
        height: 32px;
        opacity: 0.3;
        cursor: pointer;
        padding: 20px;

            &:hover {
            opacity: 1;
         }

         &::before, &::after {
            position: absolute;
            left: 15px;
            content: ' ';
            height: 33px;
            width: 2px;
            background-color: #333;
         }

         &::before {
            transform: rotate(45deg);
         }

         &::after {
            transform: rotate(-45deg); 
         }
    }
}

.btn-container {
    display: flex;
    padding: 30px;
    justify-content: center;
    
    &__btn {
        width: 25%;
        height: 40px;
        font-size: 20px;
        margin: 20px;
    }
}
